/* fallbacks */
article {
  display: block;
}

section {
  display: block;
}

/* global */

select {
  -webkit-appearance: none;
}

body {
  background-color: #A7DAB6 ;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  margin: 0 0;
  max-height: 100%;
  max-width: 100%;
}

.page-wrapper,
.app-wrapper {
  background-color: #F6FDF8;
  text-align: center;
  padding: 20px;
}

.page-wrapper {
  border-radius: 15px;
  margin: 10px;
}

.hidden {
  display: none;
}

.selected svg g {
  stroke: #D62970;
  strokeWidth: 2;
}

.directions-display {
  font-size: 80%;
  color: #D62970;
  margin: 2px;
}

/* icons */

.city-icons,
.nav-icon {
  width: 10%;
  height: 10%;
  margin: 10px 20px 5px 20px;
}

.nav-icon g {
  stroke: #FC7AB5;
}

.nav-icon :hover {
  stroke: #D62970;
}

/* nav */

.nav-bar {
  background-color: #A7DAB6;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 150px;
  padding: 30px;
}

/* home */

ul {
  list-style: none;
  text-align: left;
}

.welcome-msg {
  border-radius: 15px;
  border: 5px solid #E0FAE8;
  background-color: #F0FCF4;
  margin: 5px auto;
  max-width: 40%;
  max-height: 40%;
  padding: 10px;
}

.welcome-msg .nav-icon {
  display: inline-block;
  vertical-align: middle;
}

.welcome-link {
  display: block;
  text-decoration: none;
}

/* settings */

.language-menu {
  height: 50px;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: 100;
  background-color: #E0FAE8;
  margin-left: 10px;
  padding: 10px 25px;
  text-align: center;
}

.settings-icon,
.language-menu {
  display: inline-block;
  vertical-align: middle;
}

/* search form */
