
/* fallbacks */
article {
  display: block;
}

section {
  display: block;
}

/* global */

input {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  font-family: 'Bubbler One', sans-serif;
}

span {
  font-family: 'Bubbler One', sans-serif;
}

body {
  box-sizing: border-box;
  font-family: 'Bubbler One', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  font-family: 'Bubbler One', sans-serif
}

button:hover {
  color: #FFFFFF;
  display: block;
}

button:focus {
  outline: rgba(0,0,0,0);
}

h2 {
  font-size: 180%;
  color: #FFFFFF;
  display: inline-block;
}

a {
  text-decoration: none;
}

a:focus {
  outline: rgba(0, 0, 0, 0);
}

/*div {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

div::after {
  content: "";
  background: url(image.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/

#main {
  background-color: #1A1818;
  /*filter: opacity(25%);*/
  /*background-image: url('../vintagemap.jpg');*/
  /*margin: auto;*/
  /*max-height: auto;*/
  /*max-width: 100%;*/
  /*position: fixed;*/
  /*position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;*/
  /*z-index: -12;*/
}

.page-wrapper {
  background-attachment: fixed;
  background: url('../background-photo.jpg') no-repeat 0 100px;
  background-size: cover;
  position: absolute;
  top: 0;
  /*bottom: 0;*/
  /*right: 0;
  left: 0;*/
}

.app-wrapper {
  top: 0;
  /*bottom: 0;*/
  /*right: 0;*/
  left: 0;
  min-height: 100vh;
  padding: 20px;
  position: relative;
  z-index: 0;
}

/*.app-wrapper::after {
  content: "";
  border-radius: 2px;
  opacity: .7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/

.hidden {
  display: none;
}

.selected svg {
  stroke: #D62970;
}

.directions-display {
  display: block;
  font-size: 120%;
  color: #FF715B;
  margin: 2px 0;
  text-align: left;
}

.directions-display:hover {
  color: #D62970;
  cursor: pointer;
}

button, input[type='submit'] {
  background-color: inherit;
  border: none;
}

/* icons */
.city-icons {
  width: 10%;
  max-height: 100px;
  margin: 0 15px;
}

.card-icon,
.settings-icon,
.search-icon {
  cursor: pointer;
  display: block;
  max-width: 30px;
  max-height: 30px;
}

.nav-icon :hover {
  stroke: #FF715B;
  fill: #FF715B;
}

/* nav */
.app-name {
font-family: 'Bubbler One', sans-serif;
font-size: 41px;
margin: 0;
}

.city-scape {
  width: auto;
  max-height: 100px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: right;
}

.nav-bar {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  background-color: #1A1818;
  position: relative;
  top: 0;
  height: 110px;
  width: auto;
  text-align: justify;
  padding: 30px;
  padding-bottom: 0px;
  z-index: 2;
}

.title-bar {
  width: auto;
  display: flex;
  flex-direction: row;
  text-align: left;
  vertical-align: text-bottom;
}

.nav-icon {
  display: inline-block;
  margin: 10px;
  max-width: 30px;
  max-height: 30px;
  vertical-align: middle;
}

.nav-link-icon h2 {
  vertical-align: middle;
}



.title-link {
  text-decoration: none;
  color: #FFFFFF;
}

.sub-nav {
  width: inherit;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 20px;
}

.deck-counter {
  margin: 6px;
  color: #D62970;
  border-radius: 50%;
  background-color: #F6FDF8;
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 4px;
  margin-left: 0;
  text-align: center;
}

/* home */

ul {
  list-style: none;
  text-align: left;
}

ul svg {
  padding: 10px;
}

.welcome-msg {
  margin: 5px auto;
  max-width: 60%;
  max-height: 60%;
  padding: 10px;
}

.welcome-msg .nav-icon {
  display: inline-block;
  vertical-align: middle;
}

.welcome-link {
  font-size: 180%;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}

/* settings */

.settings-form-wrapper {
  height: 100px;
  margin: 20px 0;
}

.language-menu {
  border-bottom: 1px solid #D62970;
  color: #FFFFFF;
  height: 50px;
  /*font-family: sans-serif;*/
  font-size: 120%;
  font-weight: 100;
  background-color: inherit;
  margin-left: 10px;
  padding: 10px 25px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.language-menu:hover {
  border-bottom: 4px solid #D62970;
}

.settings-icon,
.language-menu {
  display: inline-block;
  vertical-align: middle;
}

select {
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  font-family: 'Bubbler One', sans-serif;
}

select:focus {
  outline: rgba(0,0,0,0);
}



/* search form */
.search-icon {
  margin: 20px 20px;
}

.search-tools-wrapper,
.deck-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  position: relative;
  padding: 10px 0 10px 0;
  z-index: 2;
  width: 100%;
}

.search-tools-wrapper::after,
.deck-list-wrapper::after {
  content: "";
  border-radius: 2px;
  background-color: #1A1818;
  /*box-shadow: 1px 1px 1px 1px #A7A5A6;*/
  opacity: .4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.search-tools {
  max-width: 70%;
  padding: 20px;
  position: relative;
  z-index: 3
}

.search-tools::after {
  content: "";
  border-radius: 2px;
  background-color: #1A1818;
  /*box-shadow: 1px 1px 1px 1px #A7A5A6;*/
  opacity: .3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.button-submit {
  text-align: left;
  margin: 20px 0;
  padding: 0;
}

.button-submit .nav-icon,
.button-submit .card-icon,
.picture-upload .search-icon {
  margin: 0;
}

.image-upload-wrapper {
  order: -1;
  margin: 20px 0;
}

.picture-upload input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.textsearch-input-field {
  background-color: inherit;
  border: none;
  border-radius : 5px 5px 0 0;
  border-bottom: 1px solid #D62970;
  color: #FFFFFF;
  display: inline-block;
  font-size: 120%;
  padding: 5px;
  width: 100%;
}

.textsearch-input-field:hover {
  border-bottom: 4px solid #D62970;
}

.textsearch-input-field:focus {
  outline: rgba(0,0,0,0);
}

.textsearch-input input[type='submit'] {
  background-color: inherit;
  border-bottom: 1px solid #D62970;
  border-radius: 5px 5px 0 0;
  vertical-align: bottom;
}

.textsearch-input input[type='submit']:hover,
.textsearch-input button:hover {
  border-color: #FC7AB5;
  border-radius: 10px;
}

.textsearch-input button {
  margin-top: 20px;
}

.image-upload-wrapper {
  margin: 40px 0;
}

.found-words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
}

.word {
  box-shadow: 1px 1px 1px 1px #D62970;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 100%;
  margin: 10px 20px 20px 10px;
  padding: 5px;
  min-width: 120px;
}

.decktools-settings {
  text-align: left;
}

.deck-tools {
  padding: 20px;
  position: relative;
}



.deck-list-dropdown {
  -webkit-appearance: none;
  border: 0;
  border-bottom: 1px solid #D62970;
  color: #FFFFFF;
  height: 25px;
  /*font-family: sans-serif;*/
  font-size: 120%;
  font-weight: 100;
  background-color: inherit;
  margin-left: 10px;
  /*padding: 10px 25px;*/
  text-align: right;
  border-radius: 5px 5px 0 0;
  width: 80%;
}

.deck-list-dropdown:focus {
  outline: rgba(0,0,0,0)
}

.deck-list-dropdown:hover {
  border-bottom: 4px solid #D62970;
}



/* card */

.card {
  background-position: center;
  background-color: #F6FDF8;
  box-shadow: 2px 2px 2px 2px #000000;
  color: #000000;
  border: 1px solid #1F9DBF;
  border-radius: 15px;
  margin: 10px;
  width: 300px;
  height: 200px;
  padding: 20px;
  position: relative;
}

.language-bar {
  background-color: #8ADBDB;
  color: #000000;
  position: absolute;
  text-align: right;
  padding-top: 6px;
  padding-right: 6px;
}

.top-bar {
  border-radius: 15px 15px 0 0;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
}

.bottom-bar {
  border-radius: 0 0 15px 15px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
}

.bottom-bar .button-submit {
  border-radius: 0 0 15px 15px;
  margin: 0;
  position: absolute;
  bottom:0;
  left:0;
}

.word-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 150%;
  height: 200px;
  margin: 20px auto;
  text-align: center;
  position: relative;
  overflow-y:scroll;
}

.answer-info {
  font-size: 150%;
  margin-bottom: 0;
  text-align: center;
}

.definition-info {
  font-size: 100%;
  margin: 10px auto;
  text-align: center;
  overflow: scroll;
}

.show-more-button {
  margin-bottom: 50px;
}

.card-answer-info {
  position: relative;
}

.single-def {
  font-size: 80%;
}

/*.scroll-info {
  overflow: scroll;
  height: inherit;
}*/

.card-icon,
.deck-list-dropdown {
  display: inline-block;
  vertical-align: middle;
}

/*practice page*/
.deck-list {
  display: flex;
  flex-direction: column;
}

.deck-name {
  cursor: pointer;
}

.deck-name:hover  {
  border-bottom: 4px solid #D62970;
}

.controls-wrapper {
  width: 300px;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.show-answer,
.next {
  background-color: #F6FDF8;
  color: #000000;
  font-size: 120%;
}

.show-answer:hover,
.next:hover {
  border-bottom: 4px solid #D62970;
  color: #000000;
}




@media (max-width: 770px) {
  .search-tools-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
