
/* fallbacks */
article {
  display: block;
}

section {
  display: block;
}

/* global */

select {
  -webkit-appearance: none;
  font-family: 'Bubbler One', sans-serif;
}

input {
  -webkit-appearance: none;
  font-family: 'Bubbler One', sans-serif;
  display: block;
}

span {
  font-family: 'Bubbler One', sans-serif;
}

body {
  background-color: #F6FDF8;
  font-family: 'Bubbler One', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  display: block;
}

#main {
  margin: 0 0;
  max-height: 100%;
  max-width: 100%;
}

.app-wrapper {
  background-color: #F6FDF8;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  z-index: 99999;
  height: 100%;
}

.hidden {
  display: none;
}

.selected svg g {
  stroke: #D62970;
}

.directions-display {
  display: block;
  font-size: 80%;
  color: #FF715B;
  margin: 2px;
  text-align: left;
}

button, input[type='submit'] {
  background-color: inherit;
  border: none;
}

/* icons */
.city-icons {
  width: 10%;
  max-height: 100px;
  margin: 10px 30px;
}

.card-icon,
.settings-icon,
.search-icon {
  display: block;
  max-width: 45px;
  max-height: 45px;
  stroke: #4C5454;
}

.nav-icon g {
  stroke: #FC7AB5;
}

.nav-icon :hover {
  stroke: #FF715B;
}

/* nav */
.app-name {
font-family: 'Bubbler One', sans-serif;
font-size: 64px;
margin: 0 auto;
}

.city-scape {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.nav-bar {
  background-color: #1F9DBF;
  background-image: url('../vintagemap.jpg');
  background-size: cover;
  background-blend-mode: color;
  position: relative;
  top: 0;
  height: 110px;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.nav-icon {
  max-width: 45px;
  max-height: 45px;
  display: inline-block;
  vertical-align: bottom;
  stroke: black;
  fill: black;
}

/* home */

ul {
  list-style: none;
  text-align: left;
}

ul svg {
  padding: 10px;
}

.welcome-msg {
  border-radius: 15px;
  border: 5px solid #E0FAE8;
  background-color: #F0FCF4;
  margin: 5px auto;
  max-width: 40%;
  max-height: 40%;
  padding: 10px;
}

.welcome-msg .nav-icon {
  display: inline-block;
  vertical-align: middle;
}

.welcome-link {
  display: block;
  text-decoration: none;
}

/* settings */

.settings-form-wrapper {
  height: 100px;
}

.language-menu {
  height: 50px;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: 100;
  background-color: #E0FAE8;
  margin-left: 10px;
  padding: 10px 25px;
  text-align: center;
}

.settings-icon,
.language-menu {
  display: inline-block;
  vertical-align: middle;
}

/* search form */
.search-icon {
  margin: 20px 20px;
}

.search-tools-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.search-tools {
  border: 1px solid #D62970;
  border-radius: 15px;
  margin: 10px;
  max-width: 50%;
  max-height: 90%;
  padding: 20px;
}


.image-upload-wrapper {
  order: -1;
}

.picture-upload input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.textsearch-input input[type='text'] {
  background-color: inherit;
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #D62970;
}

.textsearch-input input[type='submit'] {
  background-color: inherit;
  border-bottom: 1px solid #D62970;
  border-radius: 5px 5px 0 0;
  vertical-align: bottom;
}

.textsearch-input input[type='submit']:hover,
.textsearch-input button:hover {
  border-color: #FC7AB5;
  border-radius: 10px;
}

.textsearch-input button {
  margin-top: 20px;
}

.word {
  background-color: #E0FAE8;
  box-shadow: 1px 1px 1px 1px #A7DAB6;
  display: inline-block;
  font-size: 90%;
  margin: 20px 20px;
  width: 120px;
}

.decktools-settings {
  text-align: center;
}

/* card */

.card {
  border: 1px solid #A7DAB6;
  border-radius: 15px;
  margin: 10px;
  width: 200px;
  height: 300px;
  padding: 20px;
}

.card-info {
  display: block;
  font-size: 100%;
  margin: 20px auto;
  width: 140px;
}

.card-icon,
.deck-list-dropdown {
  display: inline-block;
  vertical-align: middle;
}

.deck-counter {
  margin: 5px;
  color: #D62970;
}

@media (max-width: 770px) {
  .search-tools-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
